[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"autopep8" = "*"
python-dotenv = "*"

[dev-packages]
"autopep8" = "*"
flask = "*"

[requires]
python_version = "3.6"
